<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to my page!</h1>
    <p>
      This is the demo application for the course
      <em>Getting Started with Flask</em>
      or <a href="https://app.pluralsight.com"></a>
    </p>
    <img src="/static/flasklogo.png" alt="" />
    <h2>Flash Cards</h2>
    <ul>
      {% for card in cards %}
      <li>
        <a href="{{ url_for('card_view', index=card.index) }}">
          {{ card.question }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
